@page "/new-customer"
@using Invoice_Builder_App.Models
@using Invoice_Builder_App.Services
@rendermode InteractiveServer
@inject CustomerService customerService
<h3>NewCustomer</h3>

<EditForm Model="newCustomer" OnValidSubmit="SaveCustomer" FormName="CustomerForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div>
        <label>Email Address</label>
        <InputText @bind-Value="newCustomer.Email" />
    </div>
    <div>
        <label>Postal Code</label>
        <InputText @bind-Value="newCustomer.PostalCode" />
    </div>
    <div>
        <label>Tax Id</label>
        <InputText @bind-Value="newCustomer.Tax.TaxId" />
    </div>
    <div>
        <label>Tax Rate</label>
        <InputNumber @bind-Value="newCustomer.Tax.TaxRate" />
    </div>
    <div>
        <label>Address</label>
        <InputText @bind-Value="newCustomer.Address" />
    </div>
    <div>
        <label>Use Company</label>
        <InputText @bind-Value="newCustomer.User.UserCompany" />
    </div>
    <div>
        <label>User Name</label>
        <InputText @bind-Value="newCustomer.User.UserName" />
    </div>
    <div>
        <label>Bank Details</label>
        <InputText @bind-Value="newCustomer.BankDetails" />
    </div>
    
    <button type="submit">Create Customer</button>

</EditForm>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in customerService.GetCustomers())
        {
            <tr>
                <td>
                    @item.User.UserName
                </td>
                <td>
                    @item.User.UserCompany
                </td>
                <td>
                    @item.Email
                </td>
            </tr>
        }
    </tbody>
</table>

@code
{
    public Customer newCustomer = new()
    {
        Tax = new TaxInfo(),
        User = new UserInfo()
    };

    public void SaveCustomer()
    {
        Console.WriteLine($"The user with name{newCustomer.User.UserName} has been saved!");
        customerService.AddCustomer(newCustomer);
        newCustomer = new()
        {
            Tax = new TaxInfo(),
            User = new UserInfo()
        };
    }
}
